body {
  background: linear-gradient(
    to bottom,
    #111111 0%,
    #111111 5%,
    #EAE0C8 5%,
    #EAE0C8 25%,
    #111111 25%,
    #111111 48%,
    #EAE0C8 48%,
    #EAE0C8 69%,
    #111111 69%,
    #111111 100%
  );

  margin: 0;
  text-align: center;
  font-family: 'averia';
  line-height: 2;
}

@font-face {
  font-family: "averia";
    src: url("./averia-serif-libre/AveriaSerifLibre-Italic.ttf") format('truetype');
}
