body {
  background: linear-gradient(
    to bottom,
    #111111 0%,
    #111111 6%,
    #EAE0C8 6%,
    #EAE0C8 30%,
    #111111 30%,
    #111111 63%,
    #EAE0C8 63%,
    #EAE0C8 80%,
    #111111 80%,
    #111111 100%
  );

  margin: 0;
  text-align: center;
  font-family: 'averia';
  line-height: 2;
}

@font-face {
  font-family: "averia";
    src: url("./averia-serif-libre/AveriaSerifLibre-Italic.ttf") format('truetype');
}
