body {
  background: linear-gradient(
    to bottom,
    #111111 0%,
    #111111 4%,
    #EAE0C8 4%,
    #EAE0C8 17%,
    #111111 17%,
    #111111 50%,
    #EAE0C8 50%,
    #EAE0C8 92%,
    #111111 92%,
    #111111 100%
  );

  margin: 0;
  text-align: center;
  font-family: 'averia';
  line-height: 2;
}

@font-face {
  font-family: "averia";
    src: url("./averia-serif-libre/AveriaSerifLibre-Italic.ttf") format('truetype');
}
