body {
  background: linear-gradient(
    to bottom,
    #111111 0%,
    #111111 6%,
    #EAE0C8 6%,
    #EAE0C8 27%,
    #111111 27%,
    #111111 53%,
    #EAE0C8 53%,
    #EAE0C8 95%,
    #111111 95%,
    #111111 100%
  );

  margin: 0;
  text-align: center;
  font-family: 'averia';
  line-height: 2;
}

@font-face {
  font-family: "averia";
    src: url("./averia-serif-libre/AveriaSerifLibre-Italic.ttf") format('truetype');
}
