body {
  background: linear-gradient(
    to bottom,
    #111111 0%,
    #111111 4.5%,
    #EAE0C8 4.5%,
    #EAE0C8 20%,
    #111111 20%,
    #111111 36%,
    #EAE0C8 36%,
    #EAE0C8 52%,
    #111111 52%,
    #111111 76%,
    #EAE0C8 76%,
    #EAE0C8 92%,
    #111111 92%,
    #111111 100%
  );

  margin: 0;
  text-align: center;
  font-family: 'averia';
  line-height: 2;
}

@font-face {
  font-family: "averia";
    src: url("./averia-serif-libre/AveriaSerifLibre-Italic.ttf") format('truetype');
}

