body {
  background: linear-gradient(
    to bottom,
    #111111 0%,
    #111111 5%,
    #EAE0C8 5%,
    #EAE0C8 23%,
    #111111 23%,
    #111111 40%,
    #EAE0C8 40%,
    #EAE0C8 63%,
    #111111 63%,
    #111111 100%
  );

  margin: 0;
  text-align: center;
  font-family: 'averia';
  line-height: 2;
}

@font-face {
  font-family: "averia";
    src: url("./averia-serif-libre/AveriaSerifLibre-Italic.ttf") format('truetype');
}

