body {
  background: linear-gradient(
    to bottom,
    #111111 0%,
    #111111 2.5%,
    #EAE0C8 2.5%,
    #EAE0C8 37.5%,
    #111111 37.5%,
    #111111 70%,
    #EAE0C8 70%,
    #EAE0C8 96%,
    #111111 96%,
    #111111 100%
  );

  margin: 0;
  text-align: center;
  font-family: 'averia';
  line-height: 2;
}

@font-face {
  font-family: "averia";
    src: url("./averia-serif-libre/AveriaSerifLibre-Italic.ttf") format('truetype');
}
