body {
  background: #111111;
  margin: 0;
  text-align: center;
  font-family: 'averia';
  line-height: 2;
}

@font-face {
  font-family: "averia";
    src: url("./averia-serif-libre/AveriaSerifLibre-Italic.ttf") format('truetype');
}
