body {
  background: linear-gradient(
    to bottom,
    #111111 0%,
    #111111 4%,
    #EAE0C8 4%,
    #EAE0C8 25%,
    #111111 25%,
    #111111 50%,
    #EAE0C8 50%,
    #EAE0C8 80%,
    #111111 80%,
    #111111 100%
  );

  margin: 0;
  text-align: center;
  font-family: 'averia';
  line-height: 2;
}

header {
  margin: 0;
  text-align: center;
  font-family: 'averia';
}


footer {
  margin: 0;
  text-align: center;
  font-family: 'averia';
}



@font-face {
  font-family: "averia";
    src: url("./averia-serif-libre/AveriaSerifLibre-Italic.ttf") format('truetype');
}

