body {
  background: linear-gradient(
    to bottom,
    #111111 0%,
    #111111 6%,
    #EAE0C8 6%,
    #EAE0C8 25%,
    #111111 25%,
    #111111 51%,
    #EAE0C8 51%,
    #EAE0C8 98%,
    #111111 98%,
    #111111 100%
  );

  margin: 0;
  text-align: center;
  font-family: 'averia';
  line-height: 2;
}

@font-face {
  font-family: "averia";
    src: url("./averia-serif-libre/AveriaSerifLibre-Italic.ttf") format('truetype');
}

